:root {
  --blue: #0a66c2;
  --darkblue: #004182;
  --gray: #6c757d;
  --lightgray: #adb5bd;
  --green: #4caf50;
  --darkgreen: #218838;
  --subtleblue: #f0f7fe;
  --dark-gray: #343a40;
  --hoverblue: #EBF4FD;
}

.hidden{
  display: none;
}

header {
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  height: 60px;
  padding: 10px 15px;
  color: var(--dark-gray);
  margin-bottom: 10px;
  z-index: 20;
}

.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .header-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .header-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .header-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .header-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .header-container {
    max-width: 1536px;
  }
}

.logo-container {
  width: 70%;
  height: 100%;
}

.logo-container img {
  height: auto;
  max-height: 100%;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-list li {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 500;
  height: 100%;
  margin-right: 10px;
  /* padding-bottom: 10px; */
}

.icon {
  padding-bottom: 10px;
  position: relative;
}

.icon::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #3490dc;
  transition: width 0.4s ease, left 0.4s ease;
}

.icon:hover {
  color: black;
  cursor: pointer;
}

.icon:hover::after {
  width: 100%;
  left: 0;
}

.icon img {
  height: 27px;
  border-radius: 100%;
}

.navbar-icon {
  font-size: xx-large;
}

.icon a{
  display: block;
  line-height: 10px;
}

#iconTrigger{
  padding-bottom: 5px;
}

.name-link {
  display: flex;
  align-items: center;
  height: 15px;
}

.nav-btn {
  padding-bottom: 9px;
  padding-top: 5px;
  border-radius: 70px;
  width: 80px;
}

.login-btn {
  border: 2px solid var(--blue);
  color: var(--blue);
}

.register-btn {
  background-color: var(--blue);
  color: white;
}

.login-btn:hover {
  color: #f0f7fe;
  background-color: #0a66c2;
}

.register-btn:hover {
  background-color: var(--darkblue);
}

.popover-content {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 90;
  width: 300px;
  padding: 10px;
}

.pop-profile{
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.profile-details{
  color: black;
  text-align: left;
  line-height: 1.2;
}

.profile-details h1{
  font-size: 17px;
  font-weight: 500;
}

.profile-details h2{
  margin-top: 5px;
  font-size: 17px;
  font-weight: bold;
}

.pop-profile img{
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.view-profile{
  padding: 5px;
  color: var(--blue);
  border: 3px solid var(--blue);
  border-radius: 30px;
  margin-bottom: 13px;
  font-weight: 600;
}

.view-profile:hover{
  background-color: var(--hoverblue);
  border-color: var(--darkblue);
}

.logout-form{
  text-align: left;
  padding-top: 10px;
  border-top: 2px solid var(--lightgray);
  color: var(--gray);
}
.logout-btn:hover{
  text-decoration: underline;
}