:root{
  --blue: #0A66C2;
  --darkblue: #004182;
  --gray: #6c757d;
  --lightgray: #adb5bd;
  --green: #4CAF50;
  --darkgreen: #218838;
  --subtleblue: #f0f7fe;
}

header {
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  height: 60px;
  padding: 10px 15px;
  color: #808080;
  margin-bottom: 10px;
  z-index: 20;
}

.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .header-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .header-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .header-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .header-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .header-container {
    max-width: 1536px;
  }
}

.logo-container {
  width: 70%;
  height: 100%;
}

.logo-container img {
  height: auto;
  max-height: 100%;
}

.navbar-list {
  display: flex;
  align-items: center;
}

.navbar-list li {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 500;
  height: 100%;
  margin-right: 10px;
  padding-bottom: 10px;
}

.icon::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #3490dc;
  transition: width 0.4s ease, left 0.4s ease;
}

.icon:hover {
  color: black;
  cursor: pointer;
}

.icon:hover::after {
  width: 100%;
  left: 0;
}

.icon img {
  height: 27px;
  border-radius: 100%;
}

.navbar-icon {
  font-size: xx-large;
}

.icon a {
  line-height: 10px;
}

.name-link {
  margin-top: 5px;
}

.login-btn {
  border: 2px solid var(--blue);
  color: var(--blue);
  padding: 5px 0;
  border-radius: 70px;
  width: 80px;
}

.register-btn {
  background-color: var(--blue);
  color: white;
  padding: 5px 0;
  border-radius: 70px;
  width: 80px; 
}

.login-btn {
  background-color: white;
  border: 2px solid #0A66C2;
  color: #0A66C2;
  padding: 5px 0;
  border-radius: 70px;
  width: 80px;
  margin-top: 10px;
  align-items: center;
}

.login-btn:hover {
  color: #f0f7fe;
  background-color: #0A66C2;
}

.logout-btn {
  background-color: white;
  border: 2px solid red;
  color: red;
  padding: 6px 0;
  border-radius: 70px;
  width: 80px;
  align-items: center;
}

.logout-btn:hover {
  cursor: pointer;
  color: #f0f7fe;
  background-color: red;
}

.register-btn:hover {
  background-color: var(--darkblue);
}

@media (min-width: 576px) {
  .navbar {
    width: auto;
  }

  .logo-container {
    width: auto;
  }

  .navbar-list li {
    margin-right: 20px;
  }
}