aside {
  width: 250px;
  align-self: flex-start;
  display: none;
  position: sticky;
  top: 90px;
}

.part-container {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.bg-image {
  width: 100%;
  height: auto;
}

.img-container {
  position: relative;
  height: 60px;
}

.bg-image {
  height: 100%;
  width: 100%;
}

.img-logo {
  border: 3px solid white;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  bottom: -80%;
  left: 20px;
}

.profile-container {
  margin-top: 40px;
  padding: 20px;
}

.profile-container h1 {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}

.profile-container p {
  font-size: 20px;
  margin-top: 5px;
  font-weight: 400;
}

.role-explanation {
  /* padding: 20px; */
  background: white;
}

.role-explanation h1 {
  font-size: 25px;
  font-weight: 500;
}

.role-explanation img{
  height: 100px;
  margin: 10px 0; 
}

.role-explanation p {
  font-size: 15px;
}

.linkinpurry{
  font-size: 22px;
  font-weight: bold;
}

.role-inex{
  font-size: 17px;
  font-weight: bold;
}

.title-recent-applicants {
  padding: 5px;
  border-bottom: 2px solid black;
  text-align: center;
  font-weight: bold;
}

.recent-pelamar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 600px;
}

.recent-pelamar a {
  text-decoration: none;
  color: #333;
  display: block;
  background-color: #fff;
  border-top: 2px solid black;
  padding: 15px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.recent-pelamar a:hover {
  background-color: #f0f0f0;
}

.recent-pelamar h1 {
  margin: 0 0 5px;
  font-size: 18px;
  color: black;
  line-height: 1.2;
}

.recent-pelamar h2{
  color: #007BFF;
  
}

strong .subjudul-sidebar {
  color: #007BFF;
}

.nama-pelamar {
  color: black;
}

.recent-pelamar p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.recent-pelamar small {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #999;
}

.applicant-info {
  flex: 1;
}

.material-symbols-outlined[data-icon="arrow"] {
  font-size: 36px;
  color: #007BFF;
}

.recom-heading{
  font-size: 20px;
  padding-left: 25px;
  color: black;
  border-bottom: 1px solid black;
}

.list-rec-jobs{
  list-style-type: none;
  margin-top: 10px;
  /* margin-left: 20px; */
  color :black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.list-rec-jobs:hover{
  color: gray;
}

.rec-posisi{
  font-size: 17px;
  font-weight: bold;
}

.rec-jenis-pekerjaan{
  font-size: 15px;
  margin-bottom: 4px;
}

.rec-company-name{
  font-size: 14px;
}

.rec-jenis-lokasi{
  font-size: 15px;
}

.row{
  display: flex;
  flex-direction: row;
}

.blue {
  color: var(--blue);
}

.rec-button{
  margin-top: 30px;
  color:var(--blue);
}

.rec-list-container{
  padding-left: 5px;
}

.see-button {
  color: blue;
  size: 30px;
  margin-right: 10px;
}

.no-recommendations {
  justify-content: center;
  text-align: center;
  padding: 10px;
  color: #0A66C2
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  aside {
    display: block;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
