.status {
  margin-top: 5px;
  font-weight: bolder;
  font-size: larger;
}

.accepted {
  color: var(--green);
}

.rejected {
  color: var(--red);
}

.waiting {
  color: gray;
}

section {
  padding: 15px;
}

section > * {
  margin-left: auto;
  margin-right: auto;
}

.name-heading {
  font-size: 44px;
  font-weight: 600;
}

.heading-container p{
  font-size: 15px;
}

.heading-container{
  margin-bottom: 10px;
}

.section-heading{
  font-size: 25px;
  font-weight: 500;
}

.applied-details{
  margin-top: 20px;
}

.attachments {
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.cv-section {
  margin-bottom: 20px;
}

.cv-section embed{
  width: 100%;
  aspect-ratio: 16/9;
}

.attachments h2{
  margin-bottom: 10px;
}

.attachments h3 {
  font-size: 17px;
  font-weight: 500;
}

.attachments a{
  text-decoration: underline;
  font-weight: 600;
  color: var(--blue);
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.approval-div-input{
  margin: 15px auto;
}

.approval-buttons{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.approval-buttons textarea{
  display: none;
}

.approval-buttons form{
  width: auto;
}

.approval-section{
  margin-top: 20px;
}

.rich-text-editor label{
  font-size: 15px;
  color: var(--gray);
}

#status_reason{
  height: 20vh;
}

.approval-section button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100px;
  font-weight: bold;
}

.approval-section button:hover{
  opacity: 0.9;
} 

.approve-btn {
  background-color: #28a745;
  color: white;
}

.reject-btn {
  background-color: #dc3545;
  color: white;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  

  .section-heading{
    font-size: 30px;
  }
.attachments h3 {
  font-size: 22px;
  font-weight: 500;
}

.cv-section {
  margin-bottom: 40px;
}

}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
