.container {
    display: grid;
    grid-template-columns: 200px 1fr; /* Sidebar width: 200px, Content takes the rest */
    grid-template-rows: auto auto;    /* Two rows for content */
    grid-gap: 10px;                   /* Spacing between sections */
    height: 100vh;                    /* Full viewport height */
  }

.heading-container {
  position: relative;
}

.heading-container p{
  font-size: 20px;
  line-height: 10px;
}

.company-container{
  display: flex;
  align-items: center;
  gap: 5px;
}

section {
  position: relative;
  padding: 20px 10px;
  border-radius: 10px;
}

.attachment-img{
  width: 100px;
}

section > *{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.position-heading {
font-size: 40px;
font-weight: 600;
}

.lowongan-details {
color: var(--gray);
}

.details-format li {
display: flex;
gap: 5px;
margin-top: 5px;
}

.attachment-list a {
display: flex;
gap: 5px;
}

.general-btn {
margin-top: 15px;
border-radius: 70px;
font-weight: 700;
width: 100%;
display: block;
font-size: 20px;
}

.container-button {
    display: flex;
    flex-direction: column;
}

.general-button {
    background-color: var(--blue);
    margin-top: 10px;
    border-radius: 70px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 8px 15px;
    margin-right: 30px;
    width: 175px;
}

.general-button:hover {
    background-color: var(--darkblue);
}

.lowongan-heading {
    font-size: 23px;
    font-weight: 550;
    margin-top: 25px;
    margin-bottom: 15px;
}

.no-application {
    text-align: center;
    margin: 30px 0;
    padding: 20px;
}

.no-application h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0A66C2;
}

.nama-status {
    font-weight: 400;
}

.preview-lamaran {
    background: white;
    border-width: 1px;
    border-style:  solid;
    border-color: var(--blue);
    padding: 20px 25px 5px;
    margin: 5px 0 15px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.small-details {
    color: var(--lightgray);
    font-size: small;
  }

.attachment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .attachment-list li {
    border: 2px solid var(--gray);
    width: auto;
    padding: 10px 20px;
    border-radius: 20px;
  }
  
  .attachment-list li:hover {
    color: var(--blue);
    cursor: pointer;
    background-color: var(--subtleblue);
  }
  
  .attachment-list li p:hover {
    text-decoration: underline;
  }
  
  .attachments-img{
    height: 100%;
  }
  
  .attachments-container{
    display: flex;
    flex-wrap: wrap;
  }
  
  .attachments-container a{
    max-width: 200px;
  }
  

@media (min-width: 640px) {
    .container-button{
        flex-direction: row;
    }
}

@media (min-width: 768px) {

.small-details{
    font-size: medium;
}
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
