* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
  color: #333;
  line-height: 1.6;
}

header {
  text-align: center;
}

.header-subtitle {
  font-size: 33px;
  margin-top: 70px;
  padding: 24px 16px;
}

.form-edit-lowongan {
  display: flex;
  justify-content: center;
}

.register-login-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 1px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

input:focus,
select:focus {
  border-color: #0077cc;
  box-shadow: 0 0 5px rgba(0, 119, 204, 0.5);
}

button {
  background: rgb(10, 102, 194);
  color: #fff;
  border: none;
  border-radius: 24px;
  padding: 15px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s;
  font-weight: bold;
}

button:hover {
  background: #005fa3;
}

.redirect-register-login {
  text-align: center;
  margin-top: 15px;
}

.redirect-register-login a {
  color: #0077cc;
  text-decoration: none;
}

.redirect-register-login a:hover {
  text-decoration: underline;
}

.input-area {
  margin: 20px 0;
}

label {
  display: block;
  font-size: small;
}

.input-area input {
  border-radius: 5px;
  margin: 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.img-upload{
    width: 100px;
    margin: 10px;
}

#hiddenArea{
  display: none;
}