main{
  min-height: 0;
}

section {
  border-radius: 10px;
  position: relative;
  padding: 40px;
}

section > * {
  margin-left: auto;
  margin-right: auto;
}

.heading-container {
  position: relative;
}

#back-btn {
  font-size: xx-large;
  width: auto;
  background-color: white;
  position: absolute;
  top: 6px;
  left: -40px;
}

#back-btn:hover {
  background-color: var(--subtleblue);
}

.h1-lamaran {
  font-size: xx-large;
  font-weight: 600;
  line-height: 40px;
  margin: 10px 0;
}

.h2-lamaran {
  font-size: x-large;
  font-weight: 400;
  line-height: 25px;
}

.input-area {
  margin: 20px 0;
}

label {
  display: block;
  font-size: small;
}

.input-area input {
  border-radius: 5px;
  margin: 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.normal-state label {
  color: black;
}

.error-state label {
  color: red;
}

.error-details {
  color: red;
  font-size: 15px;
}

.submit-btn {
  display: block;
  background-color: var(--blue);
  width: 100%;
  color: white;
  padding: 7px 20px;
  font-weight: bold;
  border-radius: 20px;
}

.submit-btn:hover {
  background-color: var(--darkblue);
}

.required-ctt {
  color: var(--gray);
  font-size: small;
  margin-top: 20px;
  margin-bottom: 10px;
}

.job-desc {
  margin-top: 10px;
  font-size: 17px;
}

.job-detail{
  display: flex;
  gap: 5px;
  margin-top: 7px;
  color: var(--gray);
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .job-desc {
    font-size: medium;
  }

  label {
    font-size: large;
  }

  .required-ctt {
    margin-bottom: 20px;
  }

  .submit-btn {
    font-size: 20px;
    border-radius: 30px;
  }
}

@media (min-width: 1024px) {
  .h1-lamaran {
    font-size: 64px;
    line-height: 50px;
    width: 100%;
  }

  section {
    padding: 60px;
  }

  .h2-lamaran {
    font-size: 40px;
    line-height: normal;
  }

  #back-btn {
    top: 10px;
    left: -45px;
    font-size: 40px;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
